---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8wH3OAbhSllCpjV2D0x4Oanj3", oauth_nonce="a05921fc01cf357caa6ded967c45ca24",
        oauth_signature="7%2BzzROF3wk5B%2B1LU3MH%2FvjRF%2BWM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450379777", oauth_token="4558022389-Z2GplB9KyxkEs0xTsA8GZQ3BiXykehdBbH0PvtF",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 19:16:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a5129db91b6e6aa1acedd2be9bb459e0
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1450379855'
      X-Response-Time:
      - '34'
      X-Transaction:
      - f27e6b27900d6cf0
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":4558022389,"id_str":"4558022389","name":"Ryan Johnson","screen_name":"rjohnson44445","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2,"friends_count":5,"listed_count":0,"created_at":"Mon
        Dec 14 16:26:19 +0000 2015","favourites_count":3,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":3,"lang":"en","status":{"created_at":"Thu
        Dec 17 18:16:09 +0000 2015","id":677552879763263488,"id_str":"677552879763263488","text":"This
        is a response tweet","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eFitter-twitter\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 17 Dec 2015 19:16:17 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8wH3OAbhSllCpjV2D0x4Oanj3", oauth_nonce="25be9474d1b6ebea314db2a37cb822f0",
        oauth_signature="3mbT7CH6mInU4ElaYFxS6qEXwWE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450379777", oauth_token="4558022389-Z2GplB9KyxkEs0xTsA8GZQ3BiXykehdBbH0PvtF",
        oauth_[...]
