  <div class="ui grid">
    <div class="row">
      <div class="five wide column">
        <p><%= render partial: 'partials/user_info', locals: { user: @user } %></p>
      </div>
      <div class="eight wide column">
        <p><%= render partial: 'partials/tweet_feed', locals: { user: @user } %></p>
      </div>
      <div class="three wide column">
        <img>
      </div>
    </div>
  </div>
