<div class="ui top fixed menu">
  <div class="item">
    <strong>Fitter</strong>
  </div>
  <div class="right menu">
    <%= link_to "Logout", logout_path, class: "item" %>
    <!-- <a class="item">Logout</a> -->
  </div>
</div>
