<div class="ui top fixed padding main menu">
  <div class="ui container">
    <div class="item">
      <strong>Fitter</strong>
    </div>
    <div class="right menu">
      <% if current_user %>
        <%= link_to "Logout", logout_path, class: "item" %>
      <% end %>
    </div>
  </div>
</div>
